@charset "utf-8";

html, body {
	width: 1000px;
	margin: 20px auto 20px auto;
	padding: 0;
	font-family: verdana;
	text-align: justify;
}

article {
	width: 700px;
	padding-right: 20px;
	border-right: solid 2px #DDD;
}

article>header p {
	font-weight: bold;
}

article section>h1 {
	font-weight: normal;
}

aside {
	float: right;
	width: 250px;
}

aside * {
	margin: 0px;
	font-size: 12px;
}

div {
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
}

@media print {
	div {
		display: none;
	}
}